<%- include('head') %>
<link rel="stylesheet" href="/stylesheets/registerRestaurant.css" />
<title>Edicion de plato</title>
<%- include('navbar') %>

<main>
  <section class="row section1 text-center mt-5">
    <div class="col mt-4 d-flex flex-column align-items-center text-center">
      <h2 class="title">Edita tu plato</h2>

      <form
        class="form_res"
        action="/dish/editDish/<%= result[0].dish_id %>/<%= result[0].restaurant_id %>"
        method="post"
        enctype="multipart/form-data"
      >
        <input
          class="form-control"
          type="text"
          name="name"
          placeholder="Nombre plato"
          aria-label="default input example"
          value="<%= result[0].name %>"
        />

        <input
          class="form-control"
          type="text"
          name="description"
          placeholder="Descripcion"
          aria-label="default input example"
          value="<%= result[0].description %>"
        />

        <input
          class="form-control form-control-sm"
          id="formFileSm"
          type="file"
          name="img"
        />

        <h6 style="color: red">
          <%= typeof message != 'undefined' ? message : null %>
        </h6>

        <button class="btn btn-primary">Aceptar</button>

        <a href="/">
          <button class="btn btn-primary" type="button">Cancelar</button>
        </a>

        <button class="btn btn-primary" type="reset">Limpiar</button>
      </form>
    </div>
  </section>
</main>

<%- include('footer') %>
